<div class="widgetname">
    <form>
        <div class="input-group" data-dojo-attach-point="inputNodes">
        </div>
        <div>
            <b>Dropdown: </b>
                <select class="widgetname-reverseText" data-dojo-attach-point="dropDown">
                    <option value="volvo">Volvo</option>
                    <option value="saab">Saab</option>
                    <option value="mercedes">Mercedes</option>
                    <option value="audi">Audi</option>
                </select>
        </div>
    </form>
    <div class="widgetname-reverseText" data-dojo-attach-point="reverseText" />
</div>