<div class="widgetname">
    <form>
        <div class="input-group" data-dojo-attach-point="inputNodes">
        </div>         
          <div>
                <b>Insert your String:</b>
                <p>String: <input type="text" data-dojo-attach-point="ss">
                <button type="button" data-dojo-attach-event = "onClick: reversedString">reverse</button>
                
            </div>
    </form>
     
    <div class="widgetname-infoTextNode" data-dojo-attach-point="infoTextNode" />
</div>
