<div class="widgetname">
    <form>
        <!--<div class="input-group" data-dojo-attach-point="inputNodes">-->
            <input type="text" class="form-control" placeholder="#rrggbb" data-dojo-attach-point="colorInputNode">
            <div class="input-group-addon"><input type="color" data-dojo-attach-point="colorSelectNode"></div>
        </div>         
          <div>
                <b>Insert your String:</b>
                <p>String: <input type="text" data-dojo-attach-point="ss">
                <button type="button" data-dojo-attach-event = "onClick: reversedString">reverse</button>
                
            </div>
    </form>
     
    <div class="widgetname-infoTextNode" data-dojo-attach-point="infoTextNode" />
</div>
