<div class="widgetname">
    <form>
        <div class=f orm group>
            Insert text: <input type="text" class="form-control" placeholder="Please insert text here" data-dojo-attach-point="textToReverse">
            <!--</b>
           <button type="button" data-dojo-attach-event = "onClick: save">Save</button>-->
           <button type="button" data-dojo-attach-event="onClick: reversedString">Invert</button>
        </div>
        <div>
            <b>Insert your String:</b>
            <p>String: <input type="text" data-dojo-attach-point="ss">
                <button type="button" data-dojo-attach-event="onClick: reversedString">Invert</button>

        </div>
    </form>
    <div class="widgetname-reverseText" data-dojo-attach-point="reverseText" />
</div>