.widgetname {
    float: center;
}

.widgetname-message {
    font-style: normal;
}

.input-group-addon {
    clear: both;
    padding: 2px 6px;
}

.widgetname-infoTextNode {
    padding: 0.8em 1em;
    margin-top: 10px;
}